nav-bar {
    text Just Eat 
}
body {
   text-align:center 
}

.rgb {
    color:rgb(255, 255, 255)
}

body {
    background-color: rgb(235, 124, 40);

}
p {
    border: 10px solid lightgrey;
  }
 h1 {
    border: 20px solid lightgray
    
 } 
 h2 {
    border: 20px solid lightgray
 } 
 h3 {
    border: 20px solid lightgray
 } 
 h4{
    border: 20px solid lightgray
 } 
 h5{
    border: 20px solid lightgray
 } 
 a {
    border: 5px solid lightgray
 } 
 li {
    border: 5px solid lightgray
 }
button {
   align-items: center;
}